.searchCity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}
.searchCityInput{
   border-radius: 5px;
    border-color: black;
    width: 75%;
    font-family: 'Athiti', sans-serif;
}
.searchCityBtn {
    border-radius: 5px;
    font-size: 14px;
    background-color:#77567A;
    font-family: 'Athiti', sans-serif;
}